<form action="#" class="form form_preorder-exam">
    <h1 class="form_preorder-exam__header">Option 2: Pre Order Exam</h1>
    <p>You can pre-order ANY exam and PrepAway will arrange it for you within 4 weeks.</p>
    <h2 class="form_preorder-exam__subheader">How can i pre-order my exam?</h2>
    <ol>
        <li>Enter The Exam Code & Pay</li>
        <li>We will arrange exam questions in 4 weeks.</li>
        <li>Download, Study & Pass the exam!</li>
    </ol>
    <h2 class="form_preorder-exam__subheader">Proceed to next STEP and make the payment</h2>
    <label class="form__label">
                        <div class="form__input-name">Enter the exam code which you want to pre-order</div>
                        <input class="form__input" type="email" placeholder="Exam Code"> </label>
    <p>Exam price: <span class="form_preorder-exam__exam-price">$ 355.34</span></p>
    <button class="btn form_preorder-exam__btn">Pay Now</button>
</form>
