<form action="#" class="form form_request-exam">
    <h2 class="form_request-exam__subheader">Didn’t find the exam you were looking for? Let us help you!</h2>
    <h1 class="form_request-exam__header">Option 1: Request an Exam</h1>
    <p>Please provide the code of your exam and your email address, and we’ll let you know when your exam is available on PrepAway</p>
    <label class="form__label">
        <div class="form__input-name form_request-exam__input-name">Exam Code:</div>
        <input class="form__input" type="email" placeholder="Exam Code"> </label>
    <label class="form__label">
        <div class="form__input-name form_request-exam__input-name">E-mail:</div>
        <input class="form__input" type="email" placeholder="E-mail"> </label>
    <button class="btn form_request-exam__btn">Request Exam!</button>
</form>