<article class="premium-bundle">
    <div class="flex flex_between">
        <h1 class="premium-bundle__header">Premium Membership</h1> <span class="premium-bundle__price">$300.99</span>
    </div>
    <hr>
    <ul class="premium-bundle__list">
        <li>Early Access to Exam Updates</li>
        <li>Special Premium Discounted Offers
            <div class="premium-bundle__text_gray">On All Future Purchases</div>
        </li>
        <li>Access Over 300 Video Courses
            <div class="premium-bundle__text_gray">Special Section in Member Area</div>
        </li>
        <li>Valid for 12 Months!</li>
    </ul> <a href="#" class="btn premium-bundle__btn">Join Now!</a></article>
