<article class="premium-bundle_upsell">
    <h1 class="premium-bundle_upsell__header">This is ONE TIME special offer!</h1>
    <div class="premium-bundle_upsell__content"> <img src="design/img/ui/icon-gold.png" alt="#" class="premium-bundle_upsell__img">
        <div class="price premium-bundle_upsell__price"> <span class="price__new">$999.99/year</span> <strike class="price__old">$999.99/year</strike> </div>
        <h3 class="premium-bundle_upsell__list-name">What’s Included:</h3>
        <ul class="premium-bundle__list premium-bundle_upsell__list">
            <li>Early Access to Exam Updates</li>
            <li>Special Premium Discounted Offers
                <div class="premium-bundle__text_gray">On All Future Purchases</div>
            </li>
            <li>Access Over 300 Video Courses
                <div class="premium-bundle__text_gray">Special Section in Member Area</div>
            </li>
            <li>Valid for 12 Months!</li>
        </ul>
    </div><a href="#" class="btn premium-bundle_upsell__btn">PAY NOW</a> <a href="#" class="btn premium-bundle_upsell__btn premium-bundle_upsell__btn_skip-discount">Skip Discount</a></article>