<noscript>
    <div class="warning">Javascript is not enabled. Please, enable javascript in your browser and reload the page</div>
</noscript>
<input id="mobileMenuToggle" type="checkbox"> 
<input id="formSearchToggle" type="checkbox"> 
<header class="header">
    <div class="container flex">
        <label class="mobile-menu__toggle" for="mobileMenuToggle"><i class="icon-menu"></i></label>
        <label class="form_search__toggle" for="formSearchToggle"><i class="icon-search-icon"></i></label>
        <a href="index.html" class="logo"><img class="logo__img" src="design/img/ui/logo.svg" alt="PrepAway"></a>
        <ul class="user-menu">
            <li class="user-menu__link" id="signUp"><a href="#"><i class="icon-sign-up"></i></a></li>
            <li class="user-menu__link" id="cart"><a href="cart.html"><i class="icon-cart"></i></a></li>
        </ul> 
        <templ src="design/components/form/form_search/form_search.html"></templ>
    </div>
</header>
 