<form class="form form_file-rating file-rating" action="#">
    <div class="file-rating__name">Rate File:<sup>*</sup></div>
    <div class="file-rating__content">
        <div class="file-rating__wrapper-rating-progress">
            <div class="file-rating__rating-progress"> <span class="file-rating__value">
                            50%
                        </span> </div>
        </div>
        <label class="form__like">
            <input type="radio" name="form__rate-file" id="like" class="form__input_like"><i class="icon-like"></i>126</label>
        <label class="form__dislike">
            <input type="radio" name="form__rate-file" id="dislike" class="form__input_dislike"><i class="icon-dislike"></i>56</label>
    </div>
</form>