<a class="training-course">
    <div class="training-course__img-wrapper"><img class="training-course__img" src="design/img/content/sdgn.gif"></div>
    <h2 class="training-course__header">Data Cleaning: Shape Your Data for Exploration</h2>
    <div class="training-course__info">
        <div class="nowrap"><i class="icon-students"></i> Students:<span id="students-value">90 299</span></div>
        <div class="nowrap"><i class="icon-star"></i> Rating:<span id="rating-value">4.9</span></div>
        <div class="nowrap"><i class="icon-duration"></i> Duration:<span id="duration-value">2.5</span>h</div>
        <div class="nowrap"><strike id="priceOld">$199.99</strike><span class="training-course__price-new" id="priceNew">$10.99</span></div>
    </div>
</a>