<table class="table table_member-area table_member-orders">
    <col class="table_member-orders__col-1">
    <col class="table_member-orders__col-2">
    <col class="table_member-orders__col-3">
    <col class="table_member-orders__col-4">
    <col class="table_member-orders__col-5">
    <thead>
        <tr>
            <th>Invoice/<br>Order#</th>
            <th>Date</th>
            <th>Amount</th>
            <th>View</th>
            <th>Print</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>26</td>
            <td>May 15,18</td>
            <td>$965.46</td>
            <td><a href="#" class="btn table_member-area__btn_view"><i class="icon-view"></i> <span>View</span></a></td>
            <td><a href="#" class="btn_print">Print</a></td>
        </tr>
        <tr>
            <td>26</td>
            <td>May 15,18</td>
            <td>$965.46</td>
            <td><a href="#" class="btn table_member-area__btn_view"><i class="icon-view"></i> <span>View</span></a></td>
            <td><a href="#" class="btn_print">Print</a></td>
        </tr>
        <tr>
            <td>26</td>
            <td>May 15,18</td>
            <td>$965.46</td>
            <td><a href="#" class="btn table_member-area__btn_view"><i class="icon-view"></i> <span>View</span></a></td>
            <td><a href="#" class="btn_print">Print</a></td>
        </tr>
    </tbody>
</table>
