<article class="post-preview">
    <img class="post-preview__img" src="design/img/content/post-preview-img/Untitled-1.png" alt="asdf">
    <h1 class="post-preview__header">
        Top-Level Project Management Certifications that Increase Your Career Value
    </h1>
    <div class="post-preview__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor... </div>
    <a href="#" class="post-preview__btn"><i class="icon-view-all"></i>Read More</a>
</article>
