<div class="mobile-menu">
    <label class="mobile-menu__header" for="mobileMenuToggle">Menu</label>
    <ul class="mobile-menu__content">
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
        <li>
            <a class="mobile-menu__item" href="#">
                <div class="mobile-menu__img-wrapper"><img src="design/img/content/vendor-icons/Untitled-2.png" alt="Cisco"></div> <span>Microsoft</span></a>
        </li>
    </ul>
</div>