<table class="table table_orders">
    <col class="table_orders__col-1">
    <col class="table_orders__col-2">
    <col class="table_orders__col-3">
    <col class="table_orders__col-4">
    <thead>
        <tr>
            <th>Qty</th>
            <th>Item Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4" class="table_orders__promotion-code-bg">
                <div class="table_orders__promotion-code-wrapper">
                    <span class="table_orders__input-name">Promotion Code:</span>
                    <div class="table_orders__input-wrapper">
                        <input type="text" class="table_orders__input">
                        <button class="btn table_orders__btn_apply">Apply</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="table_orders__promotion-code-bg">
                <div class="table_orders__total-price">
                    <sup class="">Total:</sup>
                    <span class="">$69.99</span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4"> 
                <button class="btn table_orders__btn_next">NEXT</button>
            </td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                <div class="table_orders__item-name">CompTIA SY0-401 Premium VCE</div>
                <div class="table_orders__item-name">Get New Question Updates for: <span class="table_orders__qstion">?</span></div>
                <select class="table_orders__select" name="#" id="#">
                    <option value="#">30days Free</option>
                    <option value="#">30days Free</option>
                    <option value="#">30days Free</option>
                </select>
            </td>
            <td>
                <div class="table_orders__first-price">$69.99</div>
                <div class="table_orders__second-price">Free</div>
            </td>
            <td> <button class="btn table_orders__btn_remove">Remove</button> </td>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <div class="table_orders__item-name">CompTIA SY0-401 Premium VCE</div>
                <div class="table_orders__item-name">Get New Question Updates for: <span class="table_orders__qstion">?</span></div>
                <select class="table_orders__select" name="#" id="#">
                    <option value="#">30days Free</option>
                    <option value="#">30days Free</option>
                    <option value="#">30days Free</option>
                </select>
            </td>
            <td>
                <div class="table_orders__first-price">$69.99</div>
                <div class="table_orders__second-price">Free</div>
            </td>
            <td> <button class="btn table_orders__btn_remove">Remove</button> </td>
        </tr>
    </tbody>

</table>
