<article class="training">
    <div class="training__img-wrapper"> <img src="design/img/content/training-img.jpg" alt="#" class="training__img"> </div>
    <div class="training__description training__description_short"> <span class="training__best-seller">Best seller!</span> <span class="training__star-rating star-rating"> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating icon-star-rating_empty"></i> 
               </span> <span class="training__price"> 
                   <strike class="price__old">$112</strike>
                   <span class="price__new">$95.99</span> </span>
    </div>
    <div class="training__description training__description_full">
        <h1 class="training__header">Advanced CSS and Sass: Take Your CSS to the Next Level!</h1>
        <p>Have you ever prepared for a certification exam using PDFs or braindumps? If yes, then I think you will agree with me that using practice test software is more comfortable and efficient. Lorem ipsum dolor sit amet, consectetur. adipisicing. eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. way to prepare.</p>
    </div>
    <div class="training__description training__description_short">
        <div class="nowrap"><i class="icon-students"></i> <span id="students-value">3320</span> Students Enrolled</div>
        <div class="nowrap"><i class="icon-lectures"></i><span id="lectures-value">97</span> Lectures</div>
        <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
    </div>
    <button class="btn training__btn" type="button">Start Course<i class="icon-arrow-right-start"></i></button>
</article>