<form class="form form_add-comment" action="#">
    <h2 class="form__header">Add Comments</h2>
    <label class="form__label">
        <div class="form__input-name">Name:<sup>*</sup></div>
        <input class="form__input" type="text" placeholder="Exam. John"> </label>
    <label class="form__label">
        <div class="form__input-name">E-mail:<sup>*</sup></div>
        <input class="form__input" type="email" placeholder="E-mail"> </label>
    <label class="form__label">
        <div class="form__input-name">Name:<sup>*</sup></div>
        <textarea class="form__textarea" name="#" id="#" placeholder="Write here..." rows="12"></textarea>
    </label>
    <label class="form__label form__label_verification">
        <div>
            <div class="form__input-name">Verification:<sup>*</sup></div>
            <input class="form__input" type="text"> </div>
        <div class="form__verification-img-wrapper"> <img class="form__verification-img" src="design/img/content/verification-img.jpg" alt="ASD"> </div>
    </label> <small>Type the characters from the picture</small>
    <label class="form__label form__label_rate">
        <div class="form__input-name">Rate File:<sup>*</sup></div>
        <label class="form__like">
            <input type="radio" name="form__rate-file" id="like" checked> <i class="icon-like"></i>Like </label>
        <label class="form__dislike">
            <input type="radio" name="form__rate-file" id="dislike"> <i class="icon-dislike"></i>Dislike </label>
    </label>
    <button class="btn form__btn" type="submit">SUBMIT</button>
</form>