<table class="table table_member-area">
    <col class="table_member-area__col-1">
    <col class="table_member-area__col-2">
    <col class="table_member-area__col-3">
    <col class="table_member-area__col-4">
    <thead>
        <tr>
            <th colspan="4">Unlimited Access to Premium Files: Quarter Subscription</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Invoice Number</th>
            <th>Order
                <br>Date</th>
            <th>Next
                <br>Billing Date</th>
            <th>Subscription Status</th>
        </tr>
        <tr>
            <td><a href="#" class="table_member-area__invoice-number">#36805125</a></td>
            <td>Mar 05, 18</td>
            <td>Apr 02, 18
                <a href="#" class="btn table_member-area__btn">Extend</a>
                <div class="table_member-area__sale">30% off until May 05, 18</div>
            </td> 
            <td> <a href="#" class="btn table_member-area__btn"><i class="icon-download-file"></i>Download</a> <a href="#" class="btn table_member-area__btn_view"><i class="icon-view"></i> <span>View</span></a> 
            
            <span class="table_member-area__subscription-status table_member-area__subscription-status_active">Active</span>
            <span class="table_member-area__subscription-status table_member-area__subscription-status_inactive">Inactive</span>
            <span class="table_member-area__subscription-status table_member-area__subscription-btn">Deactivate</span>
            
            
            
            
            
            
            
            </td>
        </tr>
    </tbody>
</table>
