<table class="table table_certification-providers">
    <col class="table_certification-providers__col-1">
    <col class="table_certification-providers__col-2">
    <thead>
        <tr>
            <th>Provider</th>
            <th>Exams Qty</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a class="overflow-ellipsis" href="#">Cisco Data Center</a></td>
            <td><a class="nowrap" href="#">564</a></td>
        </tr>
        <tr>
            <td><a class="overflow-ellipsis" href="#">Cisco Data Center</a></td>
            <td><a class="nowrap" href="#">564</a></td>
        </tr>
        <tr>
            <td><a class="overflow-ellipsis" href="#">Cisco Data Center</a></td>
            <td><a class="nowrap" href="#">564</a></td>
        </tr>
        <tr>
            <td><a class="overflow-ellipsis" href="#">Cisco Data Center</a></td>
            <td><a class="nowrap" href="#">564</a></td>
        </tr>
        <tr>
            <td><a class="overflow-ellipsis" href="#">Cisco Data Center</a></td>
            <td><a class="nowrap" href="#">564</a></td>
        </tr>
        <tr>
            <td><a class="overflow-ellipsis" href="#">Cisco Data Center</a></td>
            <td><a class="nowrap" href="#">564</a></td>
        </tr>
    </tbody>
</table>
