<div class="slider_curriculum"> 
    <a class="slider_curriculum__item" href="#"> 
        <div class="slider_curriculum__img-wrapper"> 
           <span class="slider_curriculum__item-number">1</span>
           <img class="slider_curriculum__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb">  
        </div> 
        <div>
            <div class="slider_curriculum__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_curriculum__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    <a class="slider_curriculum__item" href="#"> 
        <div class="slider_curriculum__img-wrapper"> 
           <span class="slider_curriculum__item-number">1</span>
           <img class="slider_curriculum__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb">  
        </div> 
        <div>
            <div class="slider_curriculum__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_curriculum__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    <a class="slider_curriculum__item" href="#"> 
        <div class="slider_curriculum__img-wrapper"> 
           <span class="slider_curriculum__item-number">1</span>
           <img class="slider_curriculum__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb">  
        </div> 
        <div>
            <div class="slider_curriculum__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_curriculum__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    <a class="slider_curriculum__item" href="#"> 
        <div class="slider_curriculum__img-wrapper"> 
           <span class="slider_curriculum__item-number">1</span>
           <img class="slider_curriculum__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb">  
        </div> 
        <div>
            <div class="slider_curriculum__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_curriculum__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    </a> 
</div>