<div class="slider_training-courses"> 
    <a class="slider_training-courses__item" href="#"> 
        <div class="slider_training-courses__img-wrapper"> 
           <span class="slider_training-courses__star-rating star-rating"> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating icon-star-rating_empty"></i> 
               </span>
               <span class="slider_training-courses__price">$79</span>
           <img class="slider_training-courses__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb"> 
        </div>   
        <div>
            <div class="slider_training-courses__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_training-courses__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    </a> 
    <a class="slider_training-courses__item" href="#"> 
        <div class="slider_training-courses__img-wrapper"> 
           <span class="slider_training-courses__star-rating star-rating"> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating icon-star-rating_empty"></i> 
               </span>
               <span class="slider_training-courses__price">$79</span>
           <img class="slider_training-courses__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb"> 
        </div>   
        <div>
            <div class="slider_training-courses__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_training-courses__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    </a> 
    <a class="slider_training-courses__item" href="#"> 
        <div class="slider_training-courses__img-wrapper"> 
           <span class="slider_training-courses__star-rating star-rating"> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating icon-star-rating_empty"></i> 
               </span>
               <span class="slider_training-courses__price">$79</span>
           <img class="slider_training-courses__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb"> 
        </div>   
        <div>
            <div class="slider_training-courses__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_training-courses__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    </a> 
    <a class="slider_training-courses__item" href="#"> 
        <div class="slider_training-courses__img-wrapper"> 
           <span class="slider_training-courses__star-rating star-rating"> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating icon-star-rating_empty"></i> 
               </span>
               <span class="slider_training-courses__price">$79</span>
           <img class="slider_training-courses__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb"> 
        </div>   
        <div>
            <div class="slider_training-courses__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_training-courses__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    </a> 
    <a class="slider_training-courses__item" href="#"> 
        <div class="slider_training-courses__img-wrapper"> 
           <span class="slider_training-courses__star-rating star-rating"> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating"></i> 
                   <i class="icon-star-rating icon-star-rating_empty"></i> 
               </span>
               <span class="slider_training-courses__price">$79</span>
           <img class="slider_training-courses__img" src="design/img/content/slider-curriculum/img.jpg" alt="fb"> 
        </div>   
        <div>
            <div class="slider_training-courses__name">Create SSIS Packages Step By Step From Scratch</div>
            <div class="slider_training-courses__description">
                <div class="nowrap"><i class="icon-students"></i>Students: <span id="students-value">3320</span></div>
                <div class="nowrap"><i class="icon-duration"></i><span id="duration-value">2</span> Hours</div>
            </div>
        </div>
    </a> 
</div> 