<form action="#" class="form">
    <label class="form__label">
        <div class="form__input-name">E-mail:<sup>*</sup></div>
        <input class="form__input" type="email" placeholder="E-mail here..."> </label>
    <label class="form__label form__label_verification">
        <div>
            <div class="form__input-name">Verification:<sup>*</sup></div>
            <input class="form__input" type="text"> </div>
        <div class="form__verification-img-wrapper"> <img class="form__verification-img" src="design/img/content/verification-img.jpg" alt="ASD"> </div>
    </label>
    <button class="btn form__btn" type="submit">SEND</button> 
</form>
