<form class="form form_billing-info" action="#">
    <label class="form__label">
        <div class="form__input-name form_billing-info__input-name">Full Name:</div>
        <input class="form__input" type="text" placeholder="Full Name"> </label>
    <label class="form__label">
        <div class="form__input-name form_billing-info__input-name">Full Address:</div>
        <input class="form__input" type="text" placeholder="Full Address"> </label>
    <div class="flex flex_between">
        <label class="form__label form_billing-info__label_city">
            <div class="form__input-name form_billing-info__input-name">City:</div>
            <input class="form__input" type="text" placeholder="City"> </label>
        <label class="form__label form_billing-info__label_zip">
            <div class="form__input-name form_billing-info__input-name">ZIP/Postal Code:</div>
            <input class="form__input" type="text" placeholder="ZIP/Postal Code"> </label>
    </div>
    <label class="form__label">
        <div class="form__input-name form_billing-info__input-name">Country:</div>
        <input class="form__input" type="text" placeholder="Country"> </label>
    <label class="form__label">
        <div class="form__input-name form_billing-info__input-name">E-Mail Address:</div>
        <input class="form__input" type="email" placeholder="E-mail Address"> </label>
    <button class="btn form_billing-info__btn">NEXT</button>
</form>