<form action="#" class="form form_registration">
    <h1 class="form_registration__header">Free Registration</h1>
    <label class="form__label">
        <div class="form__input-name">E-mail:<sup>*</sup></div>
        <input class="form__input" type="email" placeholder="E-mail"> </label>
    <label class="form__label">
        <div class="form__input-name">Password:<sup>*</sup></div>
        <input class="form__input" type="password" placeholder="• • • • • • • •"> </label>
    <label class="form__label">
        <div class="form__input-name">Confirm Password:<sup>*</sup></div>
        <input class="form__input" type="password" placeholder="• • • • • • • •"> </label>
    <p class="form_registration__comment">Please check your email once you have filled out the form. Within a few minutes, you will receive the confirmation email from <a href="mailto:support@examcollection.com">support@examcollection.com</a>. If you do not see it in your inbox, be sure to check your Spam or Junk folders.</p>
    <button class="btn form_registration__btn" type="submit">REGISTER NOW</button>
    <a href="#" class="form_registration__login-link">Login (Existing Members)</a>
</form>
