<table class="table table_file-info">
    <col class="table_file-info__col-1">
        <col class="table_file-info__col-2">
            <tr>
                <th>Exam:</th>
                <td>156-215.75 Check Point Certified Security Administrator</td>
            </tr>
            <tr>
                <th>Size:</th>
                <td>2.16 MB</td>
            </tr>
            <tr>
                <th>Posted:</th>
                <td>02-Sep-2013</td>
            </tr>
            <tr>
                <th><i class="icon-download-file"></i> Download:</th>
                <td><a class="table_file-info__file-name" href="#">CheckPoint.ActualTests.156-215.75.v2013-08-21by.Anonymous.530q.vce</a>
                    <button class="btn table_file-info__btn"><i class="icon-download-file"></i> Download</button>
                </td>
            </tr>
</table>