<article class="feedback__wrapper">
    <h1 class="feedback__header">Student Feedback</h1>
    <div class="feedback">
        <div class="feedback__average-raiting"> <span class="feedback__rating-number">4.0</span>
            <div>Average</div> <span class="star-rating">
                            <i class="icon-star-rating" ></i>
                            <i class="icon-star-rating" ></i>
                            <i class="icon-star-rating" ></i>  
                            <i class="icon-star-rating" ></i>  
                            <i class="icon-star-rating" ></i>  
                            </span> </div>
        <div class="feedback__separate-raiting">
            <div class="feedback__rating-stars-5">
                <div class="feedback__wrapper-rating-progress">
                    <div class="feedback__rating-progress"></div>
                </div><span class="star-rating">
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i>  
                                    <i class="icon-star-rating" ></i>  
                                </span>
                <div class="feedback__percent-voters nowrap">65%</div>
            </div>
            <div class="feedback__rating-stars-4">
                <div class="feedback__wrapper-rating-progress">
                    <div class="feedback__rating-progress"></div>
                </div> <span class="star-rating">
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i>  
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                </span>
                <div class="feedback__percent-voters nowrap">22%</div>
            </div>
            <div class="feedback__rating-stars-3">
                <div class="feedback__wrapper-rating-progress">
                    <div class="feedback__rating-progress"></div>
                </div> <span class="star-rating">
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i>  
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                </span>
                <div class="feedback__percent-voters nowrap">10%</div>
            </div>
            <div class="feedback__rating-stars-2">
                <div class="feedback__wrapper-rating-progress">
                    <div class="feedback__rating-progress"></div>
                </div> <span class="star-rating">
                                    <i class="icon-star-rating" ></i> 
                                    <i class="icon-star-rating" ></i>  
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                </span>
                <div class="feedback__percent-voters nowrap">3%</div>
            </div>
            <div class="feedback__rating-stars-1">
                <div class="feedback__wrapper-rating-progress">
                    <div class="feedback__rating-progress"></div>
                </div> <span class="star-rating">
                                    <i class="icon-star-rating" ></i>  
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                    <i class="icon-star-rating icon-star-rating_empty" ></i>
                                </span>
                <div class="feedback__percent-voters nowrap">1%</div>
            </div>
        </div>
    </div>
</article>
