<table class="table table_training-files">
    <col class="table_training-files__col-1">
        <col class="table_training-files__col-2">
            <col class="table_training-files__col-3">
                <thead>
                    <tr>
                        <th colspan="3">Free 300-115 Exam Questions Cisco 300-115 Dumps</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr>
                        <td><a href="#">Cisco.pass4sure.ccnp.300-115.v2018-03-15.by.lee.432q.ete</a></td>
                        <td>
                            <div>Views: 1</div>
                            <div>Downloads: 683</div>
                        </td>
                        <td>
                            <div>Size: 15.03 MB</div>
                            <div>Votes: 8</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">Cisco.pass4sure.ccnp.300-115.v2018-03-15.by.lee.432q.ete</a></td>
                        <td>
                            <div>Views: 1</div>
                            <div>Downloads: 683</div>
                        </td>
                        <td>
                            <div>Size: 15.03 MB</div>
                            <div>Votes: 8</div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">Cisco.pass4sure.ccnp.300-115.v2018-03-15.by.lee.432q.ete</a></td>
                        <td>
                            <div>Views: 1</div>
                            <div>Downloads: 683</div>
                        </td>
                        <td>
                            <div>Size: 15.03 MB</div>
                            <div>Votes: 8</div>
                        </td>
                    </tr>
                </tbody>
</table>