<table class="table table_top-practice-exam">
    <col class="table_top-practice-exam__col-1">
        <col class="table_top-practice-exam__col-2">
            <col class="table_top-practice-exam__col-3">
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Exam</th>
                        <th>File Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <button class="btn table_top-practice-exam__btn">VIEW ALL</button>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td><a href="#">Cisco</a></td>
                        <td><a class="nowrap" href="#">642-618</a></td>
                        <td><a class="overflow-ellipsis" href="#">CompTIA.Pass4sure.SY0-401.v2015-02-27.by.Ethan.1039q.vce</a> </td>
                    </tr>
                    <tr>
                        <td><a href="#">Cisco</a></td>
                        <td><a class="nowrap" href="#">642-618</a></td>
                        <td><a class="overflow-ellipsis" href="#">CompTIA.Pass4sure.SY0-401.v2015-02-27.by.Ethan.1039q.vce</a> </td>
                    </tr>
                    <tr>
                        <td><a href="#">Cisco</a></td>
                        <td><a class="nowrap" href="#">642-618</a></td>
                        <td><a class="overflow-ellipsis" href="#">CompTIA.Pass4sure.SY0-401.v2015-02-27.by.Ethan.1039q.vce</a> </td>
                    </tr>
                    <tr>
                        <td><a href="#">Cisco</a></td>
                        <td><a class="nowrap" href="#">642-618</a></td>
                        <td><a class="overflow-ellipsis" href="#">CompTIA.Pass4sure.SY0-401.v2015-02-27.by.Ethan.1039q.vce</a> </td>
                    </tr>
                    <tr>
                        <td><a href="#">Cisco</a></td>
                        <td><a class="nowrap" href="#">642-618</a></td>
                        <td><a class="overflow-ellipsis" href="#">CompTIA.Pass4sure.SY0-401.v2015-02-27.by.Ethan.1039q.vce</a> </td>
                    </tr>
                </tbody>
</table>