<div class="vumingo-adv"> 
   <img class="vumingo-adv__logo" src="design/img/ui/vumingo-logo.svg" alt="Vumingo">
    <div>
        <a class="vumingo-adv__link" href="#">How to open ETE Files</a>
    </div>
    <p class="vumingo-adv__description">Use ETE Exam Simulator to open ETE files</p>  
    <img class="vumingo-adv__screenshot" src="design/img/content/sidebar-vumingo-app-screenshot.jpg">
    
    <a href="#" class="btn vumingo-adv__btn"><i class="icon-windows"></i>Windows</a>
    <a href="#" class="btn vumingo-adv__btn"><i class="icon-mac"></i>Mac</a>
    
    <div class="vumingo-adv__btn-wrapper">
        <a href="#" class="btn_app-store vumingo-adv__app-store"><img src="design/img/ui/app-store.png" alt="App Store"></a>
        <a href="#" class="btn_google-play vumingo-adv__google-play"><img src="design/img/ui/google-play.png" alt="Google Play"></a>
    </div>
</div>