<article class="bundle">
    <img class="label_verified" src="design/img/ui/label-verified.svg">
    <div class="bundle__img-wrapper">
        <img src="design/img/content/bundle-premium-img.png" alt="#" class="bundle__img">
        <div class="you-save">$000.00</div>
    </div>
    <div class="bundle__promo-label">
       <i class="icon-star"></i>
        Limited time Special OFFER!
    </div>
    <h1 class="bundle__header">70-744 Premium Bundle</h1>
    <ul class="bundle__list">
        <li>Premium File 243 Questions & Answers</li>
        <li>Training Course 19 Lectures</li>
        <li>Study Guide 180 Pages</li>
        <li>Audio Guide 135 minutes</li>
    </ul>
    <div class="price price_bundle">
        <strike class="price__old price_bundle__old">$112</strike>
        <strike class="price__new price_bundle__new">$99.99</strike>
    </div>
    <button class="btn bundle__btn"><i class="icon-download-file"></i>Download Now</button>
</article>
