<nav class="memberarea-menu">
    <a class="memberarea-menu__item memberarea-menu__item_active" href="#"> <i class="icon-products"></i>My Products </a>
    
<!--    <a class="memberarea-menu__item" href="#"> <i class="icon-star"></i>Training Courses </a>-->
    
    <a class="memberarea-menu__item" href="#"> <i class="icon-card"></i>Orders / Invoices </a>
    <a class="memberarea-menu__item" href="#"> <i class="icon-settings"></i>Settings </a>
    <a class="memberarea-menu__item" href="#"> <i class="icon-log-in"></i>Log Out </a>
</nav>