<article class="purchase-individually__wrapper">
    <h1>Purchase Individually</h1>
    <div class="slider_purchase-individually purchase-individually">
        <div class="purchase-individually__item">
            <div class="purchase-individually__img-wrapper"> <img src="design/img/content/purchase-individually.png" alt="#" class="purchase-individually__img"> </div>
            <h2 class="purchase-individually__header">Audio Guide 135 minutes</h2>
            <div class="purchase-individually__products-val">3 products</div>
            <div class="purchase-individually__price">$69.99</div>
            <button class="btn purchase-individually__btn">Add to Cart</button>
        </div>
        <div class="purchase-individually__item">
            <div class="purchase-individually__img-wrapper"> <img src="design/img/content/purchase-individually.png" alt="#" class="purchase-individually__img"> </div>
            <h2 class="purchase-individually__header">Audio Guide 135 minutes</h2>
            <div class="purchase-individually__products-val">3 products</div>
            <div class="purchase-individually__price">$69.99</div>
            <button class="btn purchase-individually__btn">Add to Cart</button>
        </div>
    </div>
</article>