<form action="#" class="form form_log-in">
    <h1 class="form_log-in__header">Login Now</h1>
    <label class="form__label">
        <div class="form__input-name">E-mail:<sup>*</sup></div>
        <input class="form__input" type="email" placeholder="E-mail"> </label>
    <label class="form__label">
        <div class="form__input-name">Password:<sup>*</sup></div>
        <input class="form__input" type="password" placeholder="• • • • • • • •"> </label>
    <button class="btn form_log-in__btn" type="submit">LOGIN NOW</button>
    <a href="" class="form_log-in__forget-link">Did you forget your password? Click here</a>
    <a href="" class="form_log-in__register-link">or Register New Account</a>
</form>
