<form class="form form_settings" action="#">
    <h6>General Notifications</h6>
    <label>  
                <input type="checkbox" id="includeMailing" style="display: none;">
                <span class="form__checkbox"></span> Include me on Prepaway.com IT mailing list
                <h1>Email Address & Password</h1>
                
                <label class="form__label">
        <div class="form__input-name">Current email Address:</div>
        <input class="form__input" type="email" placeholder="Current email Address"> </label>
    <label class="form__label">
        <div class="form__input-name">New Email Address:</div>
        <input class="form__input" type="email" placeholder="New Email Address">
              </label>



    <label class="form__label">
        <div class="form__input-name">New Password:</div>
        <input class="form__input" type="password" placeholder="• • • • • • • •"> </label>
    <label class="form__label">
        <div class="form__input-name">Confirm New Password:</div>
        <input class="form__input" type="password" placeholder="• • • • • • • •"> </label>

    <button class="btn form_settings__btn" type="submit">Save</button>
    </label>
</form>
